body{

    margin:0;

    font-family:Arial;

    background:#f7d8e7;

}

h1{

    text-align:center;

}

#conteneur{

    display:flex;

    gap:30px;

    padding:20px;

}

/* MENU */

#menu{

    width:220px;

    background:#b86fd8;

    padding:20px;

    border-radius:15px;

}

/* BOUTONS */

button{

    width:100%;

    margin-bottom:8px;

    padding:8px;

}

input{

    width:100%;

    height:40px;

}

/* SCENE */

#scene{

    position:relative;

    width:800px;

    height:600px;

    background:#f7d8e7;

    overflow:hidden;

}

/* CHEVAL */

#cheval{

    position:absolute;

    width:600px;

    left:80px;

    bottom:0;

    z-index:5;

}

/* TAPIS */

#tapis{

    position:absolute;

    left:240px;

    top:165px;

    width:180px;

    height:180px;

    z-index:2;

}

/* CALQUE COULEUR */

#couleur{

    position:absolute;

    inset:0;

    background:#ff0000;

    z-index:1;

}

/* IMAGES */

.forme{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    object-fit:contain;

    mix-blend-mode:multiply;

    z-index:2;

}

#tapis_dressage{

    display:none;

}

#bulle_contact{
    height:40%;
    width:45%;
    background-color:green;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    p{
        color:red;
    }
}
